.twoism_modal{
	background:#fff;
	border:1px solid #ccc;
}
.tm_top,.tm_btm{
	height:5px;
	background:#ddd;
	padding:0px;
}
.tm_left,.tm_right{
	width:5px;
	background:#ddd;
	padding:0px;
}

.reviser_menu{
	background:url(../images/menu_bg.png) no-repeat;
	/*border:1px dotted #000;*/
	border-bottom:none;
	width:582px;
	height:22px;
	padding:8px;
	border:3px solid #fff;
}
.reviser_menu a {
	color:#000;
	text-decoration:none;
	padding:3px;
	margin-right:5px;
}

.reviser_menu a img {
	cursor:pointer;
}

